.header{
    height:65px;
    background:#202123;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 25px;

    color:white;

    border-bottom:1px solid #333;
}

.logo{

    font-size:22px;
    font-weight:bold;

}

.status{

    background:#19c37d;

    color:white;

    padding:6px 14px;

    border-radius:20px;

    font-size:14px;

}